@import "../../../static/config/config.scss";
#artup {
  /*和用户相关的*/
  .artup_user_msg{
    width: 100%;
    .logo{
      height: 50px;
      width: 100%;
      display: block;
      border-bottom: 1px solid #171d24;
    }
    .user_box{
      transition: all 0.5s;
      width: 100%;
      height: 160px;
      position: relative;
      border-bottom: 1px solid #171d24;
      >img{
        display: block;
        margin: 34px auto 0;
      }
      .user{
        color: #c3cfe0;
        font-size: 16px;
        text-align: center;
        display: block;
        line-height: 50px;
        cursor: pointer;
      }
    }
  }
  /*冲突左侧导航栏的样式*/
  .el-menu{
    background: #1c2b36;
    border: none;
  }
  .el-submenu__title:hover {
    background-color: rgb(48, 65, 86);
  }
  .el-menu-item:focus, .el-menu-item:hover {
    outline: 0;
    background-color: rgb(48, 65, 86);
  }
  .chenkMenu_marginLeft{
    margin-left: 64px !important;
  }
  .chenkMenu_width{
    width: 64px !important;
  }
  .chenkMenu_rotate90{
    transform: rotate(-90deg);
  }
  .hamburger-fontH1{
    line-height: 50px;
    width: 400px;
    float: left;
  }
  .user_msg{
    float: right;
    padding-right: 20px;
    >i{
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
      &:active{
        position: relative;
        top:1px;
      }
    }
    >span{
      cursor: pointer;
      font-size: 14px;
      padding: 0 10px;

    }
  }
  height: 100%;
  width: 100%;
  .app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "微软雅黑 'Avenir', Helvetica, Arial, sans-serif";
  }
  .container {

  }
  .sidebar-container {
    transition: 0.28s;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
  }
  .ov_h{
    overflow: hidden;
    overflow-y: auto;
  }
  .main-container {
    min-height: 100%;
    margin-left: 200px;
    transition: 0.28s;
    .navbar{
      height: 50px;
      line-height: 50px;
      border-radius: 0px !important;
      .hamburger-container{
        line-height: 58px;
        height: 50px;
        float: left;
        padding: 0 10px;
        font-size: 20px;
        transition: 0.28s;
        position: relative;
        cursor: pointer;
        color: #57626a;
      }
      .posTop{
        top:-4px;
      }
    }
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
    overflow-y: auto;
  }
  /*路由导航*/
  .croll-container{
    white-space: nowrap;
    position: relative;
    overflow: hidden;
  }
  .tags-view-container {
    background: #fff;
    height: 40px;
    border-bottom: 1px solid #d8dce5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
    .tags-view-item{
      display: inline-block;
      position: relative;
      height: 26px;
      line-height: 26px;
      border: 1px solid #d8dce5;
      color: #495060;
      background: #fff;
      padding: 0 12px;
      font-size: 12px;
      margin-left: 5px;
      margin-top: 6px;
      cursor: pointer;
      span{
        width: 14px;
        transform: all 0.3s;
      }
      .yuandian{
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        background: #fff;
        position: relative;
        top: 1px;
      }
      .icon_hover:hover{
        border-radius: 50%;
        background: #ccc;
        color: #fff;
        height: 14px;
        font-size: 14px;
        position: relative;
        top: 1px;
      }

    }
    .tags-view-item-active{
      background-color: #42b983 !important;
      color: #fff !important;
      border-color: #42b983 !important;
      border: 1px solid #42b983;
    }
  }
}
